name: Build Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: 'it'

      - name: Build docs
        run: |
          git clone --depth=1 https://github.com/php/doc-base.git doc-base
          git clone --depth=1 https://github.com/php/doc-en.git en
          php doc-base/scripts/broken.php it
          php doc-base/scripts/qaxml.e.php
          php doc-base/scripts/qaxml.a.php
          php doc-base/configure.php --enable-xml-details --disable-libxml-check --redirect-stderr-to-stdout --with-lang=it
